* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    padding:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(65, 50, 50);
    color: white;
}

span {
    font-size: 20px;
}
